@charset "UTF-8";

body {
    margin: 5;
    width: 98vw;
    height: 98vh;
    color: rgb(26, 26, 26);
    /* background-image: url('https://images3.alphacoders.com/131/thumb-1920-1313146.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; */
    background: black url('https://images3.alphacoders.com/131/thumb-1920-1313146.jpg') center center/100vw 100vh no-repeat fixed;


}

main {
 width: 98vw;
 height: 98vh;
 margin: 0;
 padding: 2em 0em;

}
article {
    border: 10px;
    margin: auto;
    max-width: 40em ;
    background-color: rgba(128, 128, 128, 0.884);
    border: 0.13em solid black;
    border-radius: 1em;
    font: normal 1em 'Franklin Gothic Medium', 'Arial Narrow' ;
    text-align: justify;
    padding: 0.5em;
}
